// base settings

* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.42;
    font-size: 16px;
    color: $grey;
    background-color: #fff;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1180px;
    min-width: 300px;
    width: 1180px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.title {
    @include bernier;
    font-size: 63px;
    color: $black;
}

.subtitle {
    @include bernier;
    font-size: 35px;
    color: $grey;
}

p span {
    @include roboto(500);
    color: $marine;
}

p a {
    color: #6da3bd;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

}