
@font-face {
    font-family: 'bernier', 'Pt Serif', sans-serif;
    src: url('../fonts/bernierregular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'awesome', cursive;
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
