
@function rem($px) {
    @return $px / 16px+0rem;
}

@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

@mixin roboto($weight) {
    font-family: "roboto", Arial, sans-serif;
    font-weight: $weight;
    font-style: normal;
}

@mixin bernier {
    font-family: "bernier", 'Pt Serif', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin awesome {
    font-family: "awesome", cursive;
    font-weight: 400;
    font-style: normal;
}

@mixin desktop-large {
    @media screen and (min-width: $desktop) {
        @content;
    }
}


@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}


@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin phones-small {
    @media screen and (max-width: $phones-small) {
        @content;
    }
}

%btn, %btn2 {
    display: inline-block;
    font-family: roboto, Verdana, Arial, sans-serif;
    font-size: rem(16px);
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: $white;
    padding: rem(10px) rem(30px);
    line-height: rem(25px);
    border-radius: rem(5px);
    cursor: pointer;
    border: 1px solid transparent;
    background-color: $marine;
    transition: background-color 0.5s;
    outline: none;
    
    &:hover {
        background-color: $dark-marine;
    }
}

%btn2 {
    border: 1px solid $white;
    background-color: transparent;
    
    &:hover {
        background-color: $white;
        color: $marine;
    }
}

@mixin title-decor($color,$margintop) {
    
    &:before {
        content: "";
        margin-right: 20px;
        display: inline-block;
        background-color: $color;
        opacity: 0.2;
        width: 22px;
        height: 5px;
        margin-top: ($margintop);
    }

    &:after {
        content: "";
        margin-left: 20px;
        display: inline-block;
        background-color: $color;
        opacity: 0.2;
        width: 22px;
        height: 5px;
        margin-top: ($margintop);
    }
}


  