//colors

$white: #fff;
$marine: #00bfa5;
$dark-marine: #009688;
$grey: #455a64;
$black: #373e42;

// resolutions

$desktop-large: 1800px;
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 430px;