- 
    var menuItems = [
        {
        mod: "works",
        title: "Мои работы", 
        link: "/works.html"
        },
        {
        mod: "blog",
        title: "Блог", 
        link: "/blog.html"
        },
        {
        mod: "about",
        title: "Обо мне", 
        link: "/about.html"
        },
        {
        mod: "auth",
        title: "Авторизация", 
        link: "/index.html"
        }
    ]

-
    var socialsItems = [
        ['vk', '#'],
        ['gh', '#'],
        ['in', '#']
    ]

header.header
    .socials.socials__header
        include ../common/socials.pug
    .hamburger
        button(type="button").hamburger__icon
        nav.hamburger__menu
            ul.hamburger__list
                each item in menuItems
                    li.hamburger__item
                        a(href=`${item.link}` class=`.hamburger__link--${item.mod}`).hamburger__link #{item.title}

