- 
    var menuItems = [
        {
        title: "Мои работы", 
        link: "/works.html"
        },
        {
        title: "Обо мне", 
        link: "/about.html"
        },
        {
        title: "Блог", 
        link: "/blog.html"
        },
        {
        title: "Авторизация", 
        link: "/index.html"
        }
    ]

nav.menu
    ul.menu__list
        each item in menuItems
            li.menu__item
                a(href=`${item.link}`).menu__link #{item.title}
