-
    var socialsItems = [
        ['vk', '#'],
        ['gh', '#'],
        ['in', '#']
    ]

ul.socials__list.socials__list--header
    each item in socialsItems
        li.socials__item
            a(href=`${item[1]}` class=`socials__link--${item[0]}`).socials__link
