.admin {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin__header-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $marine;
}

.admin__header-panel .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;

    @include phones {
        flex-direction: column-reverse;
        
    }
}

.admin__link-back {
    color: $white;
    opacity: 0.7;
}

.admin__title {
    @include roboto(500);
    font-size: 28px;

    @include phones {
        font-size: 21px;
    }
}

.admin__header-tabs {
    display: flex;
    width: 100%;
    background-color: #f0efe9;


}

.admin__tabs-list {
    background-color: #f0efe9;
    display: flex;
    height: 100%;

    @include phones {
        flex-direction: column;
        width: 100%;
        
    }
}

.admin__tabs-item {
    @extend %btn2;
    text-transform: uppercase;
    border-radius: 0;
    color: $grey;
    border: none;
    border-right: 1px solid $white;
    padding: 18px 40px;
    vertical-align: middle; 

    &.active {
        background-color: $white;
        color: $marine;
    }

    @include phones {
        width: 100%;
        text-align: center;
        border: none;
        border-bottom: 1px solid $white;
    }
}

.admin__content {
    background: url('../img/bg/bg_admin.jpg') 50% 0% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex: 1;
    display: none;

    &.active {
        display: flex;
    }

    @include phones {
        min-height: 100vh;
        
    }
}

.admin__button {
    @extend %btn;
}

.admin__content-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.admin__content-title {
    @include roboto(500);
    font-size: 21px;
    margin-bottom: 40px;
}

.admin__subtitle {
    @include roboto(500);
    margin-bottom: 20px;
}

.admin__skills-details {
    margin-bottom: 20px;
}

.admin__skill-name {
    padding-left: 20px;
    padding-right: 20px;
}

.admin__skill-input {
    width: 60px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    color: $black;
    text-align: center;
}

.admin__skill-percent {
    padding-left: 10px;
}


.admin__btn-addwork {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    margin-bottom: 30px;
}


.admin__btn-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    opacity: 0.7;
}

.admin__btn-text {
    color: $marine;
    opacity: 0.7;
}