.blog__sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: flex-end;

    @include tablets {
        display: none;
    }
}

.blog__list {
    margin-top: 70px;
    margin-right: 100px;
    width: 75%
}

.blog__item {
    padding: 20px;
    text-align: right;
    line-height: 26px;
    cursor: pointer;
    transition: all 0.5s;
}

.active.blog__item {
    @include roboto(600);
    color: $marine;
    border-right: 3px solid $marine;
}

.blog__item:hover {
    color: $marine;
}