.circle {
    fill: none;
    stroke-width: 20;
    width: 100%;
    z-index: 100;
}

.circle__first {
    stroke: #dfdcd5;
}

.circle__second {
    stroke: $marine;
    opacity: 0.93;
    stroke-dasharray: .0010 282.6;
    transition: all 0.5s;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}
/*
.circle:hover .circle__second {
    stroke-dasharray: 56.52 282.6;
}*/