.contact-form {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-bottom: 70px;
    overflow: hidden;
    position: relative;
    background-color: rgba(252,252,252,0.1);



    @include tablets {
        width: 348px;
        margin-bottom: 100px;

    }

    @include phones {
        width: 300px;
        margin-bottom: 50px;

    }
}


.contact-form__blur{
    width: 120%;
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../img/bg/bg_comments.jpg') 50% 50% no-repeat;
    filter: blur(25px);
    background-size: cover;
}

.contact-form__wrapper{
    width: 380px;
    height: 434px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin-bottom: 70px;

    @include tablets {
        width: 348px;
        height: 415px;
    }

    @include phones {
        width: 300px;
        height: 415px;
    }
}

.contact-form__status {
    min-width: 280px;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 20px;
    z-index: 300;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    visibility: hidden;
}

.contact-form__status.show {
    visibility: visible;
    opacity: 1;
}

.contact-form__status-btn {
    @extend %btn;
    margin-top: 15px;
}

