.footer {
    //grid-area: footer;
    width: 100%;
    background-color: rgba(55,62,66,0.85);
    //align-self: end;
    position: absolute;
    bottom: 0;
}

.footer__row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10); 
    &:last-child {
        border-color: transparent;
    }

    @include tablets {
        height: 117px;
    }
}

.footer__row .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

    @include tablets {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
}

.footer__info-text, .footer__copyright {
    opacity: 0.5;
    @include roboto(300);
    color: $white;
    width: 45%;

    @include desktop-large {
        width: 30%;
    }

    @include tablets {
        width: 100%;
        text-align: center;
        
    }
}
  
.footer__copyright {
    text-align: right;

    @include tablets {
        text-align: center;
        margin-top: 15px;
    }
}
