.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(55,62,66,0.85);
}