.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__subtitle {
    margin-bottom: 30px;

}

.form__buttons {
    width: 100%;
    display: flex;
}

.form__button {
    @extend %btn;
    width: 50%;
    border-radius: 0;
    border: 0px solid transparent;
    background-color: rgba(0,191,165,0.85);

    &--home {
        border-right: 2px solid rgba(222,227,231,0.5);
    }

    &--submit {
        border-right: 2px solid rgba(222,227,231,0.5);
    }

    &--reset {
        background-color: rgba(0,191,165,0.3);
    }
}


.form__label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;

    &--checkbox {
        width: auto;
        flex-direction: row;

    }

    &--radio {
        display: inline-flex;
        width: auto;
        flex-direction: row;
        margin-bottom: 0;

    }

    &--radioyes {
        margin-right: 40px;

    }

}

.form__caption {
    opacity: 0.8;
    transition: all 0.5s;

    &--checkbox {
        margin-bottom: 0;
    }

    &--question {
        font-weight: 600;
        opacity: 0.8;
        text-align: center;
        margin-bottom: 10px;
    }


}

.form__id {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: rgb(240, 239, 233);
    align-self: stretch;
    border-radius: 5px 0px 0px 5px;
}
 

.form__icon {
    width: 18px;
    height: 18px;
    fill: #c4cbcd;

}

.form__inputs {
    background-color: rgba(252,252,252,0.85);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.form__input {
    padding: 12px 20px;
    width: 300px;
    @include roboto(400);
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: $black;
    background-color: $white;
    outline: none;

    &--textarea {
        height: 140px;
    }

    &:focus {
        border: 1px solid $marine;

        & + .form__id .form__icon {
            fill: $marine;
        }
    }

    &:hover {
        border: 1px solid $marine;

        & .form__icon {
            fill: $marine;
        }
    }

    &::placeholder {
        color: rgba(55,62,66,0.5);
    }

    &--auth {
        border-radius: 0px 5px 5px 0px;
    }
}

.form--contacts {
    z-index: 50;

    & .form__input {
        margin-bottom: 20px;
        width: 340px;
    }


}

.form__checkbox-fake {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 20px;
    height: 19px;
    background-color: $white;
    border: 1px solid rgb(204, 204, 204);
    margin-right: 10px;
    transition: all 0.5s;
}

.form__checkbox-icon {
    display: none;
    width: 13px;
    height: 13px;
    fill: $white;
}

.form__checkbox {
    display: none;

    &:checked + .form__checkbox-fake {
        background-color: $marine;
        border: 1px solid $marine;
        
        & .form__checkbox-icon {
            display: block;

        }
    }
}

.form__radio-fake {
    display: inline-flex;
    @include circle(19px, $white);
    border: 1px solid rgb(204, 204, 204);
    position: relative;
    margin-right: 10px;
    

    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include circle(8px, $marine);
        color:$marine;
        opacity: 0;
        transition: all 0.5s;
    }
}

.form__radio {
    display: none;

    &:checked + .form__radio-fake:before {
        opacity: 1;
    }

    &:checked + .form__radio-fake + .form__caption--radio{
        color: $marine;
    }

}

  