

.hamburger__btn {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.5s;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 300;

    @include tablets {
        top: 27px;
        right: 24px;
    }

    @include phones {
        top: 11px;
        right: 11px;
        padding: 0;
    }

    &:hover .hamburger__icon {
        opacity: 0.5;
    }

}

.hamburger__icon {
    width: 40px;
    height: 35px;
    fill: $white;
    transition: all 0.5s;

    &--close {
        display: none;
    }

    @include phones {
        width: 23px;
        height: 23px;
    }
}

.active {
    & .hamburger__icon--open {
        display: none;
    }
    & .hamburger__icon--close {
        display: flex;
    }
    & .hamburger__menu {
        display: flex;
    }
}

.hamburger__menu {
    background-color: rgba(0,191,165,0.87);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 200;
    display: none;
}

.hamburger__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger__item {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        margin-bottom: 66px;
    }

    @include phones {
        margin-bottom: 34px;
    }
}

.hamburger__link {
    color: $white;
    text-decoration: none;
    @include title-decor($white,40px);
    transition: all 0.5s;

    @include tablets {
        @include title-decor($white,30px);
    }

    @include phones {
        @include title-decor($white,17px);
    }



}

.hamburger__item:hover {
    & .hamburger__link:before{
        opacity: 1;
    }

    & .hamburger__link:after{
        opacity: 1;
    }

}