.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    grid-area: main;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}