

.main--intro {
    width: 100%;
    height: 100%;
    background: url('../img/bg/bg_welcome.jpg') 50% 0% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    perspective: 1000;

}

.main__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%,-50%);
    position: relative;
    width: 380px;
    height: 405px;

    
    @include tablets {
        width: 348px;
    }

}

.active {
    .main__flipper {
        transform: rotateY(180deg);
    }

}


.main--about {
    //grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 603px 50% 50%;
    grid-template-areas: 
    "hero"
    "content"
    "map";

    @include desktop-large {
        grid-template-rows: 603px 1fr 1074px;
    }

    @include tablets {
        grid-template-rows: 506px 100% 885px;
    }
}


.main--blog {
    //grid-area: main;
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: 396px 100%;
    grid-template-areas: 
    "heroBlog heroBlog"
    "sidebar articles";

    @include desktop-large {
        grid-template-columns: 26.5% 72.5%;

    }

    @include tablets {
        grid-template-rows: 506px 100%;
        grid-template-columns: 100%;
        grid-template-areas: 
        "heroBlog"
        "articles";
    }
}


.main--works {
    //grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 603px 45% 55%;
    grid-template-areas: 
    "hero"
    "works"
    "comments";

    @include tablets {
        grid-template-rows: 506px 100% 100%;
    }

}