.map {
    grid-area: map;
    width: 100%;
    height: 975px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  @include desktop-large {
    height: 100%;
  }
}

#map {
    height: 100%;
    width: 100%;
}