.menu {
    display: flex;
}

.menu__link {
    text-decoration: none;
    @include roboto(500);
    color: $white;
    transition: all 0.5s;
}


.menu--footer {
    .menu__list {
        display: flex;
    }
    
    .menu__item {
        margin-right: 40px;
    }

    .menu__link:hover {
        color: $marine;

    }


}
 
    


.menu--intro {
    
    & .menu__item {
        border-right: 2px solid #73cac2;
        
        &:last-child {
            border-right: 0 solid transparent;
            
        }

    
    }

    & .menu__link {
        @extend %btn;
        border-radius: 0;
        border: 0px solid transparent;
        background-color: rgba(0,191,165,0.85);
    }
}
    