.parallax {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: -moz-linear-gradient( -97deg, rgb(207,211,205) 0%, rgb(148,186,189) 0%, rgb(174,197,194) 0%, rgb(200,207,199) 0%, rgb(178,198,194) 0%, rgb(155,188,189) 0%, rgb(143,183,186) 0%, rgb(130,177,183) 0%, rgb(169,195,194) 14%, rgb(208,212,205) 23%, rgb(207,211,204) 51%, rgb(195,203,198) 80%, rgb(217,218,210) 100%);
    background-image: -webkit-linear-gradient( -97deg, rgb(207,211,205) 0%, rgb(148,186,189) 0%, rgb(174,197,194) 0%, rgb(200,207,199) 0%, rgb(178,198,194) 0%, rgb(155,188,189) 0%, rgb(143,183,186) 0%, rgb(130,177,183) 0%, rgb(169,195,194) 14%, rgb(208,212,205) 23%, rgb(207,211,204) 51%, rgb(195,203,198) 80%, rgb(217,218,210) 100%);
    background-image: -ms-linear-gradient( -97deg, rgb(207,211,205) 0%, rgb(148,186,189) 0%, rgb(174,197,194) 0%, rgb(200,207,199) 0%, rgb(178,198,194) 0%, rgb(155,188,189) 0%, rgb(143,183,186) 0%, rgb(130,177,183) 0%, rgb(169,195,194) 14%, rgb(208,212,205) 23%, rgb(207,211,204) 51%, rgb(195,203,198) 80%, rgb(217,218,210) 100%);


    @include tablets {
        display: none;
    }
}


.parallax__layer {
    position: absolute;
    top: 0;
    left: -5%;
    height: 110%;
    width: 110%;
    will-change: transform;
}

.parallax__img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   
    &--03 {
        width: 20%;
        left: 78%; 
        bottom: 60%;
    }

    &--06 {
        width: 20%;
        left: 45%; 
        bottom: 50%;
    }

    &--09 {
        width: 75%;
        left: 25%;
    }


}
