.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../img/bg/bg_preloader.jpg') 50% 50% no-repeat;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s;
    display: none;
}

.preloader__img, .preloader__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.preloader__img {
    height: 100px;
    width: 100px;
}

.preloader__icon {
    height: 100px;
    width: 100px;
    fill: transparent;
    stroke: $white;  
    transform: rotateZ(-90deg);
}

.preloader__text{
    font-size: 16px;
    line-height: 0;
    color: $white;  
}

.preloader__icon circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    //transform: rotateZ(-90deg);
    animation: appear 4s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        stroke-dashoffset: 440;
    }

    100% {
        stroke-dashoffset: 0;
    }
}