
.socials__item {
    margin-left: 25px;

    &:hover .socials__icon{
        opacity: 1;
    }

    &:first-child {
        margin-left: 0;
      
    }
}

.socials__icon {
    width: 31px;
    height: 25px;
    overflow: hidden;
    fill: $white;
    opacity: 0.5;
    transition: opacity 0.5s;

}


.socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;

}

.socials--intro {
      
    .socials__icon {
    fill: $marine;
    }
}

.socials--header {
        
    .socials__icon {
    fill: $white;
    }

    .socials__list {
        margin: 30px;
    }
}

.socials--footer {

    .socials__list {
        margin: 0;
    }

    .socials__link {
        width: 36px;
        height: 36px;
        position: relative;
    }
    
    .socials__item {
        margin-left: 10px;
  
        &:hover .socials__icon{
            opacity: 1;
            fill: $white;
            stroke: transparent;
        }

        &:hover .socials__icon-wrapper{
            opacity: 0;
        }

    }

    .socials__icon-wrapper {
        @include circle(36px,transparent);
        border: 1px solid rgba(255,255,255,0.5);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.5s;
    }

    .socials__icon--flat {
        width: 20px;
        height: 17px;
    }

    .socials__icon--round {
        fill: transparent;
        stroke: $white;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
}