.subtitle {
    @include bernier;
    font-size: 35px;
    color: $grey;
    @include title-decor($black,20px);
    display: flex;
    align-items: flex-start;
    margin: 0;
    line-height: 41px;

    @include desktop-large {
        text-align: center;
    }

    &--about {
        margin-bottom: 30px;


    }

    &--skills {
        margin-top: 12px;
        margin-bottom: 30px;
        width: 320px;
        align-self: center;

    }

    &--contacts {
        margin-bottom: 30px;
    }

    &--articles {
        margin-bottom: 20px;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }

    &--works {
        margin-bottom: 30px;
        text-align: center;
    }

    &--contactform {
        z-index: 50;
        margin-bottom: 30px;
        margin-top: 30px;
        display: flex;
    }

}