.subtitle {
    @include bernier;
    font-size: 35px;
    color: $grey;
    @include title-decor($black,20px);
    display: flex;
    align-items: flex-start;
    margin: 0;
    line-height: 41px;

    @include desktop-large {
        text-align: center;
    }

    @include tablets {
        font-size: 30px;
        @include title-decor($black,15px);
    }

    @include phones {
        font-size: 21px;
        line-height: 28px;
        @include title-decor($black,11px);
    }

    &--about {
        margin-bottom: 30px;
        text-align: center;

        @include tablets {
            margin-bottom: 5px;
        }

        @include phones {
            margin-bottom: 10px;
        }

    }

    &--skills {
        margin-top: 12px;
        margin-bottom: 30px;
        width: 320px;
        align-self: center;
        text-align: center;

        @include tablets {
            margin-top: 37px;
            margin-bottom: 3px;
            
        }

        @include phones {
            margin-top: 25px;
            margin-bottom: 10px;
            width: 70%;
        }

    }

    &--contacts {
        margin-bottom: 30px;

        @include phones {
            font-size: 35px;
            line-height: 42px;
            margin-bottom: 12px;
        }
    }

    &--articles {
        margin-bottom: 20px;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }

        @include tablets {
            margin-bottom: 5px;
        }

        @include phones {
            margin-bottom: 10px;
        }
    }

    &--works {
        margin-bottom: 30px;
        text-align: center;

        @include tablets {
            margin-bottom: 13px;
        }
    }

    &--contactform {
        z-index: 50;
        margin-bottom: 30px;
        margin-top: 30px;
        display: flex;
        color: $white;
        @include title-decor($white,20px);

        @include tablets {
            margin-bottom: 11px;
            @include title-decor($white,15px);
        }


        @include phones {
            margin-bottom: 22px;
            @include title-decor($white,11px);
        }
    }

}