
.triangles {
    width: 100%;
    grid-area: hero;
    z-index: 50;
    bottom: 0;
    align-self: end;
}

.triangles--about {

    .triangle__left {
        fill: #efeee9;
    }

    .triangle__right {
        fill: #eeebdf;
    }
}

.triangles--blog {
    grid-area: heroBlog;
    
    .triangle__left {
        fill: $white;
    }

    .triangle__right {
        fill: $white;
    }
}

.triangles--works {
    grid-area: hero;
    
    .triangle__left {
        fill: #faf8f0;
    }

    .triangle__right {
        fill: #faf8f0;
    }
}