// Layout

@import "layout/fonts.scss";
@import "layout/variables.scss";
@import "layout/mixins.scss";
@import "layout/base.scss";

// Components

@import "components/title.scss";
@import "components/subtitle.scss";
@import "components/socials.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/form.scss";
@import "components/menu.scss";
@import "components/auth.scss";
@import "components/intro.scss";
@import "components/main.scss";
@import "components/owner.scss";
@import "components/hamburger.scss";
@import "components/hero.scss";
@import "components/content.scss";
@import "components/about.scss";
@import "components/skills.scss";
@import "components/map.scss";
@import "components/contacts.scss";
@import "components/triangles.scss";
@import "components/circle.scss";
@import "components/skill.scss";
@import "components/blog.scss";
@import "components/articles.scss";
@import "components/works.scss";
@import "components/comments.scss";
@import "components/contact-form.scss";
@import "components/parallax.scss";
@import "components/preloader.scss";
@import "components/admin.scss";